<% if @issue.errors.any? %>
  <div class="errors">
    <h5><%=pluralize(@issue.errors.count, "error") %> prevented this issue from saving </h5>
    <ul>
      <% @issue.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @issue do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title%>
  </p>

  <p>
    <%= f.submit :submit%>
  </p>
<%end%>
