<div class="issue-new">

<% if @issue.errors.any? %>
  <div class="errors">
    <h3><%=pluralize(@issue.errors.count, "error") %> prevented this issue from saving </h3>
    <ul>
      <% @issue.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <%= form_for @issue do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <p class="full">
      <%= f.label :solution %>
      <%= f.text_area :solution, :class => "new-solution" %>
    </p>
    <p class="checkbox-grid">
      <% Category.all.each do |category|%>
      <%= label_tag dom_id(category), category.name %>
      <%= check_box_tag "issue[category_ids][]", category.id, @issue.category_ids.include?(category.id), id: dom_id(category), :class => "css-checkbox" %>

      <% end %>
    </p>
    <p class="full">
      <%= f.submit :submit, :class => "new-submit" %>
    <p>
  <% end %>
</div>
