<div class="content-title">
  <h3 class="title"><%= @issue.title%></h3>
    <p class="issue-author">by <span><%= @issue.user.email%></span></p>
    <p class="issue-date">Submitted <span><%= time_ago_in_words(@issue.created_at) %></span> ago</p>
    <h4 class="issue-description">Description</h4>
    <p class="issue-description"><%= @issue.description%></p>
    <h4 class="issue-solution-title">Solution</h4>
    <p class="issue-solution"><%= @issue.solution%></p>
    <p class="issue-edit-delete">
      <% if current_user != nil && @issue.user_id == current_user.id %>
        <%= link_to 'Edit', edit_issue_path(@issue) %> | <%= link_to 'Delete', @issue, method: :delete, data: {confirm: 'Are you sure?'} %>
        <%else%>
    <% end %>
    </p>
</div>

<!-- Comments-->

    <!-- Comment form -->
    <div id="comments">
      <h5> <%= pluralize(@issue.comments.count, "comment") %></h5>
      <%= render @issue.comments %>
      <h3>Add Comment:</h3>
        <%= render 'comments/form' %>
    </div>
  </div>
	</div>
</div>
