<!DOCTYPE html>
<html>
  <head>
    <title>Onsite Support</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

    <div class="container">
      <!-- NavBar bootstrap -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><span >OnSite</span> Support</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"><%= link_to "SOW", sows_path, :class => "nav-link-sow" %><span class="sr-only">(current)</span></a>
            </li>
            <% Category.all.each do |category|%>
            <li class="nav-item">
              <%= link_to category.name, category_path(category), :class => "nav-link"%>
            </li>
            <% end %>
          <span class="navbar-text">
            <!-- if logged in -->
            <%= link_to 'New Issue', new_issue_path, :class => "navbar-new-issue-text" %><br>

          </span>
        </div>
      </nav> <!-- End NavBar-->
      <!-- .wrapper will be where the CSS Grid is applied -->

      <div class="wrapper">
        <% if logged_in? %>
          <%= link_to "sign-out", destroy_user_session_path, :method => :delete%>
          <% else %>
            <%=link_to "sign-in", user_session_path%><%=link_to "sign-up", new_user_registration_path %>
        <% end %>


        <%= notice %>
        <%= alert %>
        <%= yield %>
      </div>
    </div>

    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
